<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HelloWorld-20170809</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
<h1>v-for</h1>
<hr>
<div id="app">
    <p></p>
    <div>
        <h4>直接循环数组</h4>
        <ul>
            <li v-for="(item,index) in items1">{{item}}</li>
        </ul>
        <hr>
        <h4>计算属性computed</h4>
        <ul>
            <li v-for="item in items2">{{item}}</li>
        </ul>
        <hr>
        <h4>对象循环</h4>
        <ul>
            <li v-for="(item,index) in students">
                {{index+1}}: {{item.name}}-{{item.age}}
            </li>
        </ul>
    </div>

</div>

<script>
    var app = new Vue({
        el:'#app',
        data:{
            items1:[20,30,50,12,3,99],
            students:[
                {name:'Bob',age:18},
                {name:'Jony',age:22},
                {name:'Ben',age:25},
                {name:'Jay',age:26}
            ]
        },
        computed:{
            items2:function () {
                return this.items1.sort(sortNumber);
            }
        }
    });
    function sortNumber(a,b) {
        return a-b
    }
</script>
</body>
</html>